* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.output {
  width: 100%;
  height: 40%;
  padding: 50px 10px 20px;
  font-size: 3rem;
  color: #fff;
  text-align: right;
  background-color: #000;
  overflow-x: scroll;
}

.inputs-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  background-color: #000;
  user-select: none;
}

.control-and-num-wrapper {
  width: 75%;
}

.assignment-inputs {
  width: 25%;
}

.control-inputs {
  width: 100%;
  height: 20%;
  display: flex;
}

.num-inputs {
  width: 100%;
  height: 80%;
  color: #ccc;
}

.num-inputs > div {
  display: flex;
  height: calc(100% / 4);
}

.controls, .nums, .assignments {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.controls:active, .nums:active, .assignments:active {
  background-color: #333;
}


.controls, .nums {
  width: calc(100% / 3);
  height: 100%;
}

.controls, .assignments, .orientation-btn, .dot {
  color: #2dc5ff;
}

.assignments {
  width: 100%;
  height: calc(100% / 5)
}

.clear-btn {
  color: indianred;
}

.equal-sign {
  font-size: 2.5rem;
  color: #fff;
  background-color: #2dc5ff;
}

.equal-sign:active {
  background-color: #0082b3; 
}

@media screen and (min-width: 720px) {
  .wrapper {
    width: 450px;
    height: 900px;
  }
}